[Unit]
Description=Renewable Energy LED Indicator Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/energy_signal.py
Restart=always
User=pi
Group=pi

[Install]
WantedBy=multi-user.target
